{#---------------------------------------------------------------------------

	ec-error_404

	@memo

----------------------------------------------------------------------------#}

{#-	page_setting -#}

{#-		base -#}
{%-		set PAGENAME      =  'ページが見つかりません' -%}
{%-		set DIRNAME       =  'ERROR' -%}
{%-		set DIRCODE       =  'error' -%}
{%-		set PAGECODE      =  '404' -%}

{#-		extents_twig -#}
{%-		extends 'default_frame.twig' -%}

{#-		js -#}
{%-		block js -%}
{%-		endblock js -%}

{#-		breadcrumb -#}
{%-		block breadcrumb %}
						<li class="current"><span>{{ PAGENAME }}</span></li>
{%		endblock breadcrumb %}

{#--------------------------------------------------------------------------#}

{%- block main %}
		<div class="title_wrap">
			<div class="title">
				<h1 class="title_text">{{ PAGENAME }}</h1>
			</div>
		</div>
		<div class="contents_wrap">
			<div class="ec_{{ DIRCODE }}_{{ PAGECODE }}_contents contents ec_contents">
				<div class="area">
					<div class="box error_box">
						<div class="part">
							<div class="cont texts">
								<p class="error_text"><span class="font_mincho">404 Not Found</span></p>
								<p>現在、このページは削除などの理由で存在しませんので、エラーページが表示されています。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{%	endblock %}