@charset "UTF-8";

//======================================
$DIRNAME: 'contact';
//======================================

/*--------------------------------------
	common
---------------------------------------*/

//--------------------------------------
$PAGENAME: 'index';
//---------------------------------------

/* form */

#contact_form_message {
	height: 160px;
}

//--------------------------------------
$PAGENAME: 'privacy';
//--------------------------------------
