@charset "UTF-8";

//======================================
$DIRNAME: 'weblog';
//======================================

/*--------------------------------------
	common
---------------------------------------*/

//--------------------------------------
//--------------------------------------

.#{$DIRNAME}_archive_contents {
	.area {
		.box {
			.part {
				.cont {
					.title {
						font-size: 1.8rem;
						font-weight: 700;
					}
				}
			}
		}
	}
}
