@charset "utf-8";
// prettier-ignore
@font-face {
	font-weight: normal;
	font-family: 'icomoon';
	font-style: normal;
	font-display: swap;
	src:  url('fonts/icomoon/icomoon.eot?tf1ygq');
	src:  url('fonts/icomoon/icomoon.eot?tf1ygq#iefix') format('embedded-opentype'),
	  url('fonts/icomoon/icomoon.ttf?tf1ygq') format('truetype'),
	  url('fonts/icomoon/icomoon.woff?tf1ygq') format('woff'),
	  url('fonts/icomoon/icomoon.svg?tf1ygq#icomoon') format('svg');
	font-display: block;
}
