@charset "utf-8";
$icomoon: (
	address-card-light: '\f2bb',
	address-card-regular: '\f2bc',
	address-card: '\f2bf',
	alarm-clock-light: '\f34e',
	alarm-clock-regular: '\f37f',
	alarm-clock: '\f3b8',
	amazon-pay: '\f42c',
	amazon: '\f270',
	android: '\f17b',
	angle-double-down-light: '\f103',
	angle-double-down-regular: '\f10d',
	angle-double-down: '\f1a9',
	angle-double-left-light: '\f100',
	angle-double-left-regular: '\f10a',
	angle-double-left: '\f1a6',
	angle-double-right-light: '\f101',
	angle-double-right-regular: '\f10b',
	angle-double-right: '\f1a7',
	angle-double-up-light: '\f102',
	angle-double-up-regular: '\f10c',
	angle-double-up: '\f1a8',
	angle-down-light: '\f107',
	angle-down-regular: '\f112',
	angle-down: '\f1b1',
	angle-left-light: '\f104',
	angle-left-regular: '\f10e',
	angle-left: '\f1aa',
	angle-right-light: '\f105',
	angle-right-regular: '\f10f',
	angle-right: '\f1ab',
	angle-up-light: '\f106',
	angle-up-regular: '\f110',
	angle-up: '\f1b0',
	app-store-ios: '\f370',
	app-store: '\f36f',
	apple-pay: '\f415',
	apple: '\f179',
	archive-light-light: '\f187',
	archive-regular: '\f188',
	archive: '\f200',
	arrow-alt-circle-down-light: '\f358',
	arrow-alt-circle-down-regular: '\f388',
	arrow-alt-circle-down: '\f3c4',
	arrow-alt-circle-left-light: '\f359',
	arrow-alt-circle-left-regular: '\f389',
	arrow-alt-circle-left: '\f3c7',
	arrow-alt-circle-right-light: '\f35a',
	arrow-alt-circle-right-regular: '\f38a',
	arrow-alt-circle-right: '\f3c8',
	arrow-alt-circle-up-light: '\f35b',
	arrow-alt-circle-up-regular: '\f38b',
	arrow-alt-circle-up: '\f3c9',
	arrow-alt-down-light: '\f354',
	arrow-alt-down-regular: '\f384',
	arrow-alt-down: '\f3bd',
	arrow-alt-from-bottom-light: '\f346',
	arrow-alt-from-bottom-regular: '\f369',
	arrow-alt-from-bottom: '\f3ae',
	arrow-alt-from-left-light: '\f347',
	arrow-alt-from-left-regular: '\f36a',
	arrow-alt-from-left: '\f3af',
	arrow-alt-from-right-light: '\f348',
	arrow-alt-from-right-regular: '\f36b',
	arrow-alt-from-right: '\f3b0',
	arrow-alt-from-top-light: '\f349',
	arrow-alt-from-top-regular: '\f36c',
	arrow-alt-from-top: '\f3b1',
	arrow-alt-left-light: '\f355',
	arrow-alt-left-regular: '\f385',
	arrow-alt-left: '\f3be',
	arrow-alt-right-light: '\f356',
	arrow-alt-right-regular: '\f386',
	arrow-alt-right: '\f3bf',
	arrow-alt-square-down-light: '\f350',
	arrow-alt-square-down-regular: '\f380',
	arrow-alt-square-down: '\f3b9',
	arrow-alt-square-left-light: '\f351',
	arrow-alt-square-left-regular: '\f381',
	arrow-alt-square-left: '\f3ba',
	arrow-alt-square-right-light: '\f352',
	arrow-alt-square-right-regular: '\f382',
	arrow-alt-square-right: '\f3bb',
	arrow-alt-square-up-light: '\f353',
	arrow-alt-square-up-regular: '\f383',
	arrow-alt-square-up: '\f3bc',
	arrow-alt-to-bottom-light: '\f34a',
	arrow-alt-to-bottom-regular: '\f36d',
	arrow-alt-to-bottom: '\f3b2',
	arrow-alt-to-left-light: '\f34b',
	arrow-alt-to-left-regular: '\f36e',
	arrow-alt-to-left: '\f3b3',
	arrow-alt-to-right-light: '\f34c',
	arrow-alt-to-right-regular: '\f37c',
	arrow-alt-to-right: '\f3b6',
	arrow-alt-to-top-light: '\f34d',
	arrow-alt-to-top-regular: '\f37d',
	arrow-alt-to-top: '\f3b7',
	arrow-alt-up-light: '\f357',
	arrow-alt-up-regular: '\f387',
	arrow-alt-up: '\f3c1',
	arrow-circle-down-light: '\f0ab',
	arrow-circle-down-regular: '\f0bb',
	arrow-circle-down: '\f186',
	arrow-circle-left-light: '\f0a8',
	arrow-circle-left-regular: '\f0b8',
	arrow-circle-left: '\f183',
	arrow-circle-right-light: '\f0a9',
	arrow-circle-right-regular: '\f0b9',
	arrow-circle-right: '\f184',
	arrow-circle-up-light: '\f0aa',
	arrow-circle-up-regular: '\f0ba',
	arrow-circle-up: '\f185',
	arrow-down-light: '\f063',
	arrow-down-regular: '\f074',
	arrow-down: '\f117',
	arrow-from-bottom-light: '\f342',
	arrow-from-bottom-regular: '\f365',
	arrow-from-bottom: '\f3a8',
	arrow-from-left-light: '\f343',
	arrow-from-left-regular: '\f366',
	arrow-from-left: '\f3a9',
	arrow-from-right-light: '\f344',
	arrow-from-right-regular: '\f367',
	arrow-from-right: '\f3ac',
	arrow-from-top-light: '\f345',
	arrow-from-top-regular: '\f368',
	arrow-from-top: '\f3ad',
	arrow-left-light: '\f060',
	arrow-left-regular: '\f06e',
	arrow-left: '\f0fc',
	arrow-right-light: '\f061',
	arrow-right-regular: '\f06f',
	arrow-right: '\f0fd',
	arrow-square-down-light: '\f339',
	arrow-square-down: '\f3a0',
	arrow-square-down1-regular: '\f35c',
	arrow-square-left-light: '\f33a',
	arrow-square-left-regular: '\f35d',
	arrow-square-left: '\f3a1',
	arrow-square-right-light: '\f33b',
	arrow-square-right-regular: '\f35e',
	arrow-square-right: '\f3a2',
	arrow-square-up-light: '\f33c',
	arrow-square-up-regular: '\f35f',
	arrow-square-up: '\f3a3',
	arrow-to-bottom-light: '\f33d',
	arrow-to-bottom-regular: '\f360',
	arrow-to-bottom: '\f3a4',
	arrow-to-left-light: '\f33e',
	arrow-to-left-regular: '\f361',
	arrow-to-left: '\f3a5',
	arrow-to-right-light: '\f340',
	arrow-to-right-regular: '\f362',
	arrow-to-right: '\f3a6',
	arrow-to-top-light: '\f341',
	arrow-to-top-regular: '\f364',
	arrow-to-top: '\f3a7',
	arrow-up-light: '\f062',
	arrow-up-regular: '\f070',
	arrow-up: '\f116',
	arrows-alt-h-regular: '\f33f',
	arrows-alt-h: '\f39d',
	arrows-alt-regular: '\f255',
	arrows-alt-v-regular: '\f34f',
	arrows-alt-v: '\f39f',
	arrows-alt: '\f18c',
	arrows-h-light: '\f07e',
	arrows-h-regular: '\f09b',
	arrows-h: '\f136',
	arrows-light: '\f250',
	arrows-regular: '\f251',
	arrows-v-light: '\f07d',
	arrows-v-regular: '\f097',
	arrows-v: '\f135',
	arrows: '\f256',
	at-light: '\f22c',
	at-regular: '\f22d',
	at: '\f22e',
	ban-light: '\f05e',
	ban-regular: '\f06d',
	ban: '\f0fb',
	bell-light: '\f0f3',
	bell-regular: '\f0f4',
	bell: '\f1a4',
	bicycle-light: '\f206',
	bicycle-regular: '\f20a',
	bicycle: '\f228',
	bolt-light: '\f0e7',
	bolt-regular: '\f0e9',
	bolt: '\f19f',
	book-alt-light: '\f5d9',
	book-alt-regular: '\f5da',
	book-alt: '\f5dd',
	book-light: '\f02d',
	book-open-light: '\f518',
	book-open-regular: '\f519',
	book-open: '\f51a',
	book-regular: '\f034',
	book: '\f0cf',
	bookmark-light: '\f02e',
	bookmark-regular: '\f035',
	bookmark: '\f0d0',
	books-light: '\f5db',
	books-regular: '\f5dc',
	books: '\f5e0',
	box-alt-light: '\f49a',
	box-alt-regular: '\f49b',
	box-alt: '\f49c',
	box-light: '\f466',
	box-open-light: '\f49e',
	box-open-regular: '\f49f',
	box-open: '\f4a0',
	box-regular: '\f467',
	box: '\f468',
	browser-light: '\f37e',
	browser-regular: '\f392',
	browser: '\f3d1',
	building-light: '\f1ad',
	building-regular: '\f1af',
	building: '\f20e',
	bullhorn-light: '\f0a1',
	bullhorn-regular: '\f0b3',
	bullhorn: '\f173',
	bus-alt-light: '\f55e',
	bus-alt-regular: '\f55f',
	bus-alt: '\f560',
	bus-light: '\f207',
	bus-regular: '\f20b',
	bus: '\f229',
	calculator-alt-light: '\f64c',
	calculator-alt-regular: '\f64d',
	calculator-alt: '\f64e',
	calculator-light: '\f1ec',
	calculator-regular: '\f1ee',
	calculator: '\f223',
	calendar-alt-light: '\f073',
	calendar-alt-regular: '\f08a',
	calendar-alt: '\f129',
	calendar-light: '\f133',
	calendar-regular: '\f134',
	calendar: '\f1d6',
	camera-alt-light: '\f332',
	camera-alt-regular: '\f336',
	camera-alt: '\f39c',
	camera-light: '\f030',
	camera-regular: '\f037',
	camera-retro: '\f161',
	camera: '\f0d4',
	car-alt-light: '\f5de',
	car-alt-regular: '\f5df',
	car-alt: '\f5e1',
	car-building-light: '\f859',
	car-building-regular: '\f85c',
	car-building: '\f85f',
	car-bus-light: '\f85a',
	car-bus-regular: '\f85d',
	car-bus: '\f860',
	car-light: '\f1b9',
	car-regular: '\f1bb',
	car-side-light: '\f5e4',
	car-side-regular: '\f5e5',
	car-side: '\f5e6',
	car: '\f20f',
	caret-circle-down-light: '\f32d',
	caret-circle-down-regular: '\f32f',
	caret-circle-down: '\f398',
	caret-circle-left-light: '\f32e',
	caret-circle-left: '\f399',
	caret-circle-left1-regular: '\f333',
	caret-circle-right-light: '\f330',
	caret-circle-right-regular: '\f334',
	caret-circle-right: '\f39a',
	caret-circle-up-light: '\f331',
	caret-circle-up-regular: '\f335',
	caret-circle-up: '\f39b',
	caret-down-light: '\f0d7',
	caret-down-regular: '\f0dc',
	caret-down: '\f196',
	caret-left-light: '\f0d9',
	caret-left-regular: '\f0de',
	caret-left: '\f198',
	caret-right-light: '\f0da',
	caret-right-regular: '\f0df',
	caret-right: '\f19c',
	caret-square-down-light: '\f150',
	caret-square-down-regular: '\f156',
	caret-square-down: '\f1f2',
	caret-square-left-light: '\f191',
	caret-square-left-regular: '\f192',
	caret-square-left: '\f203',
	caret-square-right-light: '\f152',
	caret-square-right-regular: '\f159',
	caret-square-right: '\f1f5',
	caret-square-up-light: '\f151',
	caret-square-up-regular: '\f158',
	caret-square-up: '\f1f3',
	caret-up-light: '\f0d8',
	caret-up-regular: '\f0dd',
	caret-up: '\f197',
	cars-light: '\f85b',
	cars-regular: '\f85e',
	cars: '\f861',
	cart-arrow-down-light: '\f218',
	cart-arrow-down-regular: '\f21a',
	cart-arrow-down: '\f22b',
	cart-plus-light: '\f217',
	cart-plus-regular: '\f219',
	cart-plus: '\f22a',
	cash-register-light: '\f788',
	cash-register-regular: '\f789',
	cash-register: '\f78a',
	cc-amazon-pay: '\f42d',
	cc-amex: '\f259',
	cc-apple-pay: '\f416',
	cc-discover: '\f258',
	cc-jcb: '\f25b',
	cc-mastercard: '\f1f1',
	cc-paypal: '\f1f4',
	cc-stripe: '\f25a',
	cc-visa: '\f1f0',
	chart-bar-light: '\f080',
	chart-bar-regular: '\f09c',
	chart-bar: '\f160',
	chart-line-light: '\f201',
	chart-line-regular: '\f202',
	chart-line: '\f225',
	chart-pie: '\f224',
	check-circle-light: '\f058',
	check-circle-regular: '\f066',
	check-circle: '\f0f8',
	check-light: '\f00c',
	check-regular: '\f00f',
	check-square-light: '\f14a',
	check-square-regular: '\f14e',
	check-square: '\f1e7',
	check: '\f047',
	chevron-circle-down-light: '\f13a',
	chevron-circle-down-regular: '\f13f',
	chevron-circle-down: '\f1dc',
	chevron-circle-left-light: '\f137',
	chevron-circle-left-regular: '\f13b',
	chevron-circle-left: '\f1d7',
	chevron-circle-right-light: '\f138',
	chevron-circle-right-regular: '\f13c',
	chevron-circle-right: '\f1da',
	chevron-circle-up-light: '\f139',
	chevron-circle-up-regular: '\f13d',
	chevron-circle-up: '\f1db',
	chevron-double-down-light: '\f322',
	chevron-double-down-regular: '\f327',
	chevron-double-down: '\f32c',
	chevron-double-left-light: '\f323',
	chevron-double-left-regular: '\f328',
	chevron-double-left: '\f395',
	chevron-double-right-light: '\f324',
	chevron-double-right-regular: '\f329',
	chevron-double-right: '\f396',
	chevron-double-up-light: '\f325',
	chevron-double-up-regular: '\f32a',
	chevron-double-up: '\f397',
	chevron-down-light: '\f078',
	chevron-down-regular: '\f091',
	chevron-down: '\f12c',
	chevron-left-light: '\f053',
	chevron-left-regular: '\f05b',
	chevron-left: '\f0f1',
	chevron-right-light: '\f054',
	chevron-right-regular: '\f05c',
	chevron-right: '\f0f2',
	chevron-square-down-regular: '\f374',
	chevron-square-down: '\f378',
	chevron-square-down1-light: '\f338',
	chevron-square-left-regular: '\f375',
	chevron-square-left: '\f379',
	chevron-square-left1-light: '\f371',
	chevron-square-right-regular: '\f376',
	chevron-square-right: '\f37a',
	chevron-square-right1-light: '\f372',
	chevron-square-up-regular: '\f377',
	chevron-square-up: '\f37b',
	chevron-square-up1-light: '\f373',
	chevron-up-light: '\f077',
	chevron-up-regular: '\f08f',
	chevron-up: '\f12b',
	chrome: '\f268',
	circle-light: '\f111',
	circle-regular: '\f115',
	circle: '\f1b6',
	clipboard-list-check-light: '\f737',
	clipboard-list-check-regular: '\f738',
	clipboard-list-check: '\f739',
	clipboard-list-light: '\f46d',
	clipboard-list-regular: '\f46e',
	clipboard-list: '\f46f',
	clock-light: '\f017',
	clock-regular: '\f01d',
	clock: '\f050',
	clone-light: '\f24d',
	clone-regular: '\f24e',
	clone: '\f24f',
	cloud-download-alt-regular: '\f393',
	cloud-download-alt: '\f3d2',
	cloud-download-light: '\f0ed',
	cloud-download-regular: '\f0ee',
	cloud-download: '\f1a3',
	cog-light: '\f013',
	cog-regular: '\f01a',
	cog: '\f04e',
	comment-alt-dots-light: '\f4a3',
	comment-alt-dots-regular: '\f4a4',
	comment-alt-dots: '\f4a9',
	comment-alt-exclamation-light: '\f4a5',
	comment-alt-exclamation-regular: '\f4a7',
	comment-alt-exclamation: '\f4aa',
	comment-alt-light: '\f27a',
	comment-alt-lines-light: '\f4a6',
	comment-alt-lines-regular: '\f4a8',
	comment-alt-lines: '\f4ab',
	comment-alt-regular: '\f27b',
	comment-alt: '\f27e',
	comment-dots-light: '\f4ad',
	comment-dots-regular: '\f4ae',
	comment-dots: '\f4b3',
	comment-exclamation-light: '\f4af',
	comment-exclamation-regular: '\f4b1',
	comment-exclamation: '\f4b8',
	comment-light: '\f075',
	comment-lines-light: '\f4b0',
	comment-lines-regular: '\f4b2',
	comment-lines: '\f4b9',
	comment-regular: '\f08c',
	comment-smile-light: '\f4b4',
	comment-smile-regular: '\f4b5',
	comment-smile: '\f4ba',
	comment: '\f12a',
	comments-alt-light: '\f4b6',
	comments-alt-regular: '\f4b7',
	comments-alt: '\f4bb',
	comments-light: '\f086',
	comments-regular: '\f09f',
	comments: '\f163',
	copy-light: '\f0c5',
	copy-regular: '\f0c7',
	copy: '\f18f',
	credit-card-light: '\f09d',
	credit-card-regular: '\f0b2',
	credit-card: '\f171',
	crown-light: '\f521',
	crown-regular: '\f522',
	crown: '\f523',
	desktop-alt-light: '\f390',
	desktop-alt-regular: '\f394',
	desktop-alt: '\f3d3',
	desktop-light: '\f108',
	desktop-regular: '\f113',
	desktop: '\f1b2',
	dollar-sign-light: '\f155',
	dollar-sign-regular: '\f15a',
	dollar-sign: '\f1f6',
	download-light: '\f019',
	download-regular: '\f01f',
	download: '\f051',
	dropbox: '\f16b',
	edge: '\f282',
	edit-light: '\f044',
	edit-regular: '\f046',
	edit: '\f0ef',
	ellipsis-h-light: '\f141',
	ellipsis-h-regular: '\f143',
	ellipsis-h: '\f1de',
	ellipsis-v-light: '\f142',
	ellipsis-v-regular: '\f145',
	ellipsis-v: '\f1df',
	envelope-light: '\f0e0',
	envelope-open-light: '\f2b6',
	envelope-open-regular: '\f2b8',
	envelope-open-text-light: '\f658',
	envelope-open-text-regular: '\f659',
	envelope-open-text: '\f65a',
	envelope-open: '\f2ba',
	envelope-regular: '\f0e1',
	envelope-square-light: '\f199',
	envelope-square-regular: '\f19b',
	envelope-square: '\f20c',
	envelope: '\f19d',
	exclamation-circle-light: '\f06a',
	exclamation-circle-regular: '\f085',
	exclamation-circle: '\f123',
	exclamation-square-light: '\f321',
	exclamation-square-regular: '\f326',
	exclamation-square: '\f32b',
	exclamation-triangle-light: '\f071',
	exclamation-triangle-regular: '\f088',
	exclamation-triangle: '\f127',
	exclamation: '\f1d4',
	external-link-alt-regular: '\f38c',
	external-link-alt: '\f3ca',
	external-link-light: '\f08e',
	external-link-regular: '\f0a3',
	external-link-square-alt-regular: '\f38d',
	external-link-square-alt: '\f3cb',
	external-link-square-light: '\f14c',
	external-link-square-regular: '\f153',
	external-link-square: '\f1e9',
	external-link: '\f16c',
	facebook-f: '\f39e',
	facebook-square: '\f082',
	facebook: '\f09a',
	fax-light: '\f1ac',
	fax-regular: '\f1ae',
	fax: '\f20d',
	file-alt-light: '\f15c',
	file-alt-regular: '\f15f',
	file-alt: '\f1f9',
	file-archive-light: '\f1c6',
	file-archive-regular: '\f1cf',
	file-archive: '\f216',
	file-audio-light: '\f1c7',
	file-audio-regular: '\f1d0',
	file-audio: '\f21b',
	file-code-light: '\f1c9',
	file-code-regular: '\f1d2',
	file-code: '\f21d',
	file-csv-light: '\f6dd',
	file-csv-regular: '\f6de',
	file-csv: '\f6df',
	file-download-regular: '\f56d',
	file-download: '\f56e',
	file-edit-light: '\f31c',
	file-edit-regular: '\f31d',
	file-edit: '\f31f',
	file-excel-light: '\f1c3',
	file-excel-regular: '\f1cc',
	file-excel: '\f213',
	file-image-light: '\f1c5',
	file-image-regular: '\f1ce',
	file-image: '\f215',
	file-invoice-light: '\f570',
	file-invoice-regular: '\f571',
	file-invoice: '\f572',
	file-light: '\f15b',
	file-pdf-light: '\f1c1',
	file-pdf-regular: '\f1ca',
	file-pdf: '\f211',
	file-powerpoint-light: '\f1c4',
	file-powerpoint-regular: '\f1cd',
	file-powerpoint: '\f214',
	file-regular: '\f15e',
	file-search-light: '\f865',
	file-search-regular: '\f866',
	file-search: '\f867',
	file-upload-regular: '\f574',
	file-upload: '\f575',
	file-video-light: '\f1c8',
	file-video-regular: '\f1d1',
	file-video: '\f21c',
	file-word-light: '\f1c2',
	file-word-regular: '\f1cb',
	file-word: '\f212',
	file: '\f1f8',
	film-light: '\f008',
	film-regular: '\f00b',
	film: '\f03c',
	filter-light: '\f0b0',
	filter-regular: '\f0be',
	filter: '\f18b',
	firefox: '\f269',
	flag-light: '\f024',
	flag-regular: '\f025',
	flag: '\f0c3',
	folder-light: '\f07b',
	folder-open-light: '\f07c',
	folder-open-regular: '\f096',
	folder-open: '\f132',
	folder-regular: '\f095',
	folder: '\f12f',
	frown-light: '\f119',
	frown-regular: '\f11d',
	frown: '\f1b8',
	gift-light: '\f06b',
	gift-regular: '\f087',
	gift: '\f126',
	gifts-light: '\f79c',
	gifts-regular: '\f79d',
	gifts: '\f79e',
	globe-americas-light: '\f57d',
	globe-americas-regular: '\f57f',
	globe-americas: '\f581',
	globe-asia-light: '\f57e',
	globe-asia-regular: '\f580',
	globe-asia: '\f582',
	globe-light: '\f0ac',
	globe-regular: '\f0bc',
	globe-stand-light: '\f5f6',
	globe-stand-regular: '\f5f7',
	globe-stand: '\f5f8',
	globe: '\f189',
	google-drive: '\f3aa',
	google-play: '\f3ab',
	google-wallet: '\f257',
	google: '\f1a0',
	hand-point-down-light: '\f0a7',
	hand-point-down-regular: '\f0b7',
	hand-point-down: '\f182',
	hand-point-left-light: '\f0a5',
	hand-point-left-regular: '\f0b5',
	hand-point-left: '\f180',
	hand-point-right-light: '\f0a4',
	hand-point-right-regular: '\f0b4',
	hand-point-right: '\f174',
	hand-point-up-light: '\f0a6',
	hand-point-up-regular: '\f0b6',
	hand-point-up: '\f181',
	hands-helping-light: '\f4c4',
	hands-helping-regular: '\f4c5',
	hands-helping: '\f4ca',
	handshake-alt-light: '\f4c6',
	handshake-alt-regular: '\f4c8',
	handshake-alt: '\f4cb',
	handshake-light: '\f2b5',
	handshake-regular: '\f2b7',
	handshake: '\f2b9',
	heart-circle-light: '\f4c7',
	heart-circle-regular: '\f4c9',
	heart-circle: '\f4cc',
	heart-light: '\f004',
	heart-regular: '\f006',
	heart: '\f039',
	home-alt-light: '\f80a',
	home-alt-regular: '\f80d',
	home-alt: '\f810',
	home-lg-alt-light: '\f80c',
	home-lg-alt-regular: '\f80f',
	home-lg-alt: '\f812',
	home-lg-light: '\f80b',
	home-lg-regular: '\f80e',
	home-lg: '\f811',
	home-light: '\f015',
	home-regular: '\f01b',
	home: '\f04f',
	hourglass-half-light: '\f252',
	hourglass-half-regular: '\f253',
	hourglass-half: '\f254',
	id-card-light: '\f2c2',
	id-card-regular: '\f2c3',
	id-card: '\f2c4',
	image-light: '\f03e',
	image-regular: '\f042',
	image: '\f0e4',
	inbox-in-light: '\f310',
	inbox-in-regular: '\f313',
	inbox-in: '\f31b',
	inbox-light: '\f01c',
	inbox-out-light: '\f311',
	inbox-out-regular: '\f314',
	inbox-out: '\f31e',
	inbox-regular: '\f020',
	inbox: '\f052',
	info-circle-light: '\f05a',
	info-circle-regular: '\f06c',
	info-circle: '\f0fa',
	info-square-light: '\f30f',
	info-square-regular: '\f312',
	info-square: '\f31a',
	info: '\f1d3',
	instagram: '\f16d',
	internet-explorer: '\f26b',
	itunes-note: '\f3b5',
	itunes: '\f3b4',
	key-light: '\f084',
	key-regular: '\f09e',
	key: '\f162',
	keyboard-light: '\f11c',
	keyboard-regular: '\f11f',
	keyboard: '\f1be',
	laptop-light: '\f109',
	laptop-regular: '\f114',
	laptop: '\f1b3',
	lightbulb-light: '\f0eb',
	lightbulb-regular: '\f0ec',
	lightbulb: '\f1a2',
	line: '\f3c0',
	link-light: '\f0c1',
	link-regular: '\f0c2',
	link: '\f18e',
	list-alt-light: '\f22f',
	list-alt-regular: '\f23e',
	list-alt: '\f244',
	list-light: '\f230',
	list-regular: '\f23f',
	list-ul-light: '\f231',
	list-ul-regular: '\f240',
	list-ul: '\f249',
	list: '\f248',
	location-arrow-light: '\f124',
	location-arrow-regular: '\f125',
	location-arrow: '\f1bf',
	lock-alt-light: '\f30d',
	lock-alt-regular: '\f30e',
	lock-alt: '\f319',
	lock-open-alt-light: '\f3c2',
	lock-open-alt-regular: '\f3c3',
	lock-open-alt: '\f3d4',
	long-arrow-alt-down-regular: '\f309',
	long-arrow-alt-down: '\f315',
	long-arrow-alt-left-regular: '\f30a',
	long-arrow-alt-left: '\f316',
	long-arrow-alt-right-regular: '\f30b',
	long-arrow-alt-right: '\f317',
	long-arrow-alt-up-regular: '\f30c',
	long-arrow-alt-up: '\f318',
	long-arrow-down-light: '\f175',
	long-arrow-down-regular: '\f17c',
	long-arrow-down: '\f1fc',
	long-arrow-left-light: '\f177',
	long-arrow-left-regular: '\f17e',
	long-arrow-left: '\f1fe',
	long-arrow-right-light: '\f178',
	long-arrow-right-regular: '\f17f',
	long-arrow-right: '\f1ff',
	long-arrow-up-light: '\f176',
	long-arrow-up-regular: '\f17d',
	long-arrow-up: '\f1fd',
	map-marked-alt-light: '\f5a0',
	map-marked-alt-regular: '\f5a1',
	map-marked-alt: '\f5a2',
	map-marker-alt-light: '\f3c5',
	map-marker-alt-regular: '\f3c6',
	map-marker-alt: '\f3d5',
	map-marker-light: '\f041',
	map-marker-regular: '\f045',
	map-marker: '\f0e6',
	map-pin-light: '\f276',
	map-pin-regular: '\f278',
	map-pin: '\f27c',
	map-signs-light: '\f277',
	map-signs-regular: '\f279',
	map-signs: '\f27d',
	meh-light: '\f11a',
	meh-regular: '\f11e',
	meh: '\f1bd',
	microphone-light: '\f130',
	microphone-regular: '\f131',
	microphone: '\f1d5',
	minus-circle-light: '\f056',
	minus-circle-regular: '\f05f',
	minus-circle: '\f0f6',
	minus-light: '\f068',
	minus-regular: '\f083',
	minus-square-light: '\f146',
	minus-square-regular: '\f149',
	minus-square: '\f1e6',
	minus: '\f122',
	mobile-alt-light: '\f3cd',
	mobile-alt-regular: '\f3ce',
	mobile-alt: '\f3d6',
	money-bill-light: '\f0d6',
	money-bill-regular: '\f0db',
	money-bill: '\f195',
	money-check-edit-light: '\f872',
	money-check-edit-regular: '\f873',
	money-check-edit: '\f874',
	motorcycle-light: '\f233',
	motorcycle-regular: '\f242',
	motorcycle: '\f24b',
	mouse-pointer-light: '\f245',
	mouse-pointer-regular: '\f246',
	mouse-pointer: '\f247',
	newspaper-light: '\f1ea',
	newspaper-regular: '\f1eb',
	newspaper: '\f221',
	opera: '\f26a',
	paper-plane-light: '\f1d8',
	paper-plane-regular: '\f1d9',
	paper-plane: '\f21e',
	paperclip-light: '\f0c6',
	paperclip-regular: '\f0c9',
	paperclip: '\f190',
	parking-circle-light: '\f615',
	parking-circle-regular: '\f616',
	parking-circle: '\f617',
	parking-light: '\f540',
	parking-regular: '\f541',
	parking: '\f542',
	pause-circle-light: '\f28b',
	pause-circle-regular: '\f28c',
	pause-circle: '\f28f',
	paypal: '\f1ed',
	pen-fancy-light: '\f5ac',
	pen-fancy-regular: '\f5ae',
	pen-fancy: '\f5b0',
	pen-light: '\f304',
	pen-nib-light: '\f5ad',
	pen-nib-regular: '\f5af',
	pen-nib: '\f5b1',
	pen-regular: '\f306',
	pen-square-light: '\f14b',
	pen-square-regular: '\f14f',
	pen-square: '\f1e8',
	pen: '\f308',
	pencil-alt-light: '\f303',
	pencil-alt-regular: '\f305',
	pencil-alt: '\f307',
	pencil-light: '\f040',
	pencil-regular: '\f043',
	pencil: '\f0e5',
	phone-alt-light: '\f879',
	phone-alt-regular: '\f87d',
	phone-alt: '\f881',
	phone-laptop-light: '\f87a',
	phone-laptop-regular: '\f87e',
	phone-laptop: '\f882',
	phone-office-light: '\f67d',
	phone-office-regular: '\f67e',
	phone-office: '\f67f',
	phone-square-alt-light: '\f87b',
	phone-square-alt-regular: '\f87f',
	phone-square-alt: '\f883',
	phone-square-light: '\f098',
	phone-square-regular: '\f0b1',
	phone-square: '\f170',
	phone-volume-light: '\f2a0',
	phone-volume-regular: '\f2a1',
	phone-volume: '\f2a2',
	photo-video-light: '\f87c',
	photo-video-regular: '\f880',
	photo-video: '\f884',
	plane-alt-light: '\f3de',
	plane-alt-regular: '\f3df',
	plane-alt: '\f3e0',
	plane-light: '\f072',
	plane-regular: '\f089',
	plane: '\f128',
	play-circle-light: '\f144',
	play-circle-regular: '\f148',
	play-circle: '\f1e5',
	play-light: '\f04b',
	play-regular: '\f04c',
	play: '\f0f0',
	plus-circle-light: '\f055',
	plus-circle-regular: '\f05d',
	plus-circle: '\f0f5',
	plus-light: '\f067',
	plus-regular: '\f07f',
	plus-square-light: '\f0fe',
	plus-square-regular: '\f0ff',
	plus-square: '\f1a5',
	plus: '\f121',
	power-off-light: '\f011',
	power-off-regular: '\f018',
	power-off: '\f04d',
	print-light: '\f02f',
	print-regular: '\f036',
	print: '\f0d3',
	qrcode-light: '\f029',
	qrcode-regular: '\f032',
	qrcode: '\f0cd',
	question-circle-light: '\f059',
	question-circle-regular: '\f069',
	question-circle: '\f0f9',
	question-square-light: '\f2fd',
	question-square-regular: '\f2fe',
	question-square: '\f2ff',
	question: '\f1c0',
	quote-left: '\f1b4',
	quote-right: '\f1b5',
	redo-alt-regular: '\f2f9',
	redo-alt: '\f2fc',
	redo-light: '\f01e',
	redo-regular: '\f022',
	redo: '\f0bf',
	repeat-alt-regular: '\f391',
	repeat-alt: '\f3d0',
	repeat-light: '\f363',
	repeat-regular: '\f38f',
	repeat: '\f3cf',
	reply-light: '\f3e5',
	reply-regular: '\f3e6',
	reply: '\f3e7',
	retweet-alt-regular: '\f38e',
	retweet-alt: '\f3cc',
	retweet-light: '\f079',
	retweet-regular: '\f092',
	retweet: '\f12d',
	rss-square-regular: '\f147',
	rss-square: '\f1e4',
	rss: '\f172',
	safari: '\f267',
	search-light: '\f002',
	search-minus-light: '\f010',
	search-minus-regular: '\f016',
	search-minus: '\f04a',
	search-plus-light: '\f00e',
	search-plus-regular: '\f014',
	search-plus: '\f049',
	search-regular: '\f003',
	search: '\f038',
	share-alt-light: '\f1e0',
	share-alt-regular: '\f1e2',
	share-alt-square-light: '\f1e1',
	share-alt-square-regular: '\f1e3',
	share-alt-square: '\f220',
	share-alt: '\f21f',
	share-light: '\f064',
	share-regular: '\f076',
	share-square-light: '\f14d',
	share-square-regular: '\f154',
	share-square: '\f1ef',
	share: '\f120',
	shopping-bag-light: '\f290',
	shopping-bag-regular: '\f292',
	shopping-bag: '\f295',
	shopping-basket-light: '\f291',
	shopping-basket-regular: '\f293',
	shopping-basket: '\f296',
	shopping-cart-light: '\f07a',
	shopping-cart-regular: '\f094',
	shopping-cart: '\f12e',
	sign-in-alt-light: '\f2f6',
	sign-in-alt-regular: '\f2f8',
	sign-in-alt: '\f2fb',
	sign-in-light: '\f090',
	sign-in-regular: '\f0ae',
	sign-in: '\f16e',
	sign-out-alt-light: '\f2f5',
	sign-out-alt-regular: '\f2f7',
	sign-out-alt: '\f2fa',
	sign-out-light: '\f08b',
	sign-out-regular: '\f0a0',
	sign-out: '\f169',
	sitemap-light: '\f0e8',
	sitemap-regular: '\f0ea',
	sitemap: '\f1a1',
	smile-light: '\f118',
	smile-regular: '\f11b',
	smile: '\f1b7',
	square-light: '\f0c8',
	square-regular: '\f0ca',
	square: '\f193',
	star-light: '\f005',
	star-regular: '\f009',
	star: '\f03a',
	stop-circle-light: '\f28d',
	stop-circle-regular: '\f28e',
	stop-circle: '\f294',
	street-view-light: '\f23d',
	street-view-regular: '\f243',
	street-view: '\f24c',
	stripe: '\f429',
	subway-light: '\f239',
	subway-regular: '\f23a',
	subway: '\f23c',
	sync-alt-regular: '\f2f1',
	sync-alt: '\f2f2',
	sync-light: '\f021',
	sync-regular: '\f023',
	sync: '\f0c0',
	tablet-alt-light: '\f3fa',
	tablet-alt-regular: '\f3fb',
	tablet-alt: '\f3fc',
	tag-light: '\f02b',
	tag-regular: '\f033',
	tag: '\f0ce',
	taxi-light: '\f1ba',
	taxi-regular: '\f1bc',
	taxi: '\f210',
	thumbs-down-light: '\f165',
	thumbs-down-regular: '\f168',
	thumbs-down: '\f1fb',
	thumbs-up-light: '\f164',
	thumbs-up-regular: '\f166',
	thumbs-up: '\f1fa',
	thumbtack-light: '\f08d',
	thumbtack-regular: '\f0a2',
	thumbtack: '\f16a',
	times-circle-light: '\f057',
	times-circle-regular: '\f065',
	times-circle: '\f0f7',
	times-light: '\f00d',
	times-regular: '\f012',
	times-square-light: '\f2d3',
	times-square-regular: '\f2d5',
	times-square: '\f2d7',
	times: '\f048',
	toggle-off-light: '\f204',
	toggle-off-regular: '\f208',
	toggle-off: '\f226',
	toggle-on-light: '\f205',
	toggle-on-regular: '\f209',
	toggle-on: '\f227',
	toolbox-light: '\f552',
	toolbox-regular: '\f553',
	toolbox: '\f554',
	tools-light: '\f7d9',
	tools-regular: '\f7da',
	tools: '\f7db',
	truck-container-light: '\f4dc',
	truck-container-regular: '\f4dd',
	truck-container: '\f4de',
	truck-light: '\f0d1',
	truck-moving-light: '\f4df',
	truck-moving-regular: '\f4e0',
	truck-moving: '\f4e1',
	truck-regular: '\f0d2',
	truck: '\f194',
	tv-light: '\f26c',
	tv-regular: '\f26d',
	tv-retro-light: '\f401',
	tv-retro-regular: '\f402',
	tv-retro: '\f403',
	tv: '\f26e',
	twitter-square: '\f081',
	twitter: '\f099',
	undo-alt-regular: '\f2ea',
	undo-alt: '\f2ec',
	undo-light: '\f0e2',
	undo-regular: '\f0e3',
	undo: '\f19e',
	unlock-alt-light: '\f13e',
	unlock-alt-regular: '\f140',
	unlock-alt: '\f1dd',
	upload-light: '\f093',
	upload-regular: '\f0af',
	upload: '\f16f',
	usd-circle-light: '\f2e8',
	usd-circle-regular: '\f2e9',
	usd-circle: '\f2eb',
	user-check-light: '\f4fc',
	user-check-regular: '\f4fd',
	user-check: '\f505',
	user-circle-light: '\f2bd',
	user-circle-regular: '\f2be',
	user-circle: '\f2c0',
	user-cog-light: '\f4fe',
	user-cog-regular: '\f500',
	user-cog: '\f506',
	user-edit-light: '\f4ff',
	user-edit-regular: '\f501',
	user-edit: '\f507',
	user-friends-light: '\f50c',
	user-friends-regular: '\f50d',
	user-friends: '\f508',
	user-light: '\f007',
	user-lock-light: '\f502',
	user-lock-regular: '\f504',
	user-lock: '\f509',
	user-minus-light: '\f503',
	user-minus-regular: '\f50e',
	user-minus: '\f50a',
	user-plus-light: '\f234',
	user-plus-regular: '\f236',
	user-plus: '\f238',
	user-regular: '\f00a',
	user-tie: '\f50b',
	user-times-light: '\f235',
	user-times-regular: '\f237',
	user-times: '\f23b',
	user: '\f03b',
	users: '\f18d',
	utensils-alt: '\f2e6',
	utensils-light: '\f2e7',
	utensils-regular: '\f2ed',
	utensils: '\f2ee',
	video-light: '\f03d',
	video-regular: '\f03f',
	video: '\f0d5',
	volume-down-light: '\f027',
	volume-down-regular: '\f02c',
	volume-down: '\f0cb',
	volume-light: '\f6a8',
	volume-mute-light: '\f6a9',
	volume-mute-regular: '\f6ab',
	volume-mute: '\f6ad',
	volume-off-light: '\f026',
	volume-off-regular: '\f02a',
	volume-off: '\f0c4',
	volume-regular: '\f6aa',
	volume-slash-light: '\f2e2',
	volume-slash-regular: '\f2e3',
	volume-slash: '\f2e4',
	volume-up-light: '\f028',
	volume-up-regular: '\f031',
	volume-up: '\f0cc',
	volume: '\f6ac',
	wheelchair-light: '\f232',
	wheelchair-regular: '\f241',
	wheelchair: '\f24a',
	wifi: '\f222',
	wikipedia-w: '\f266',
	window-alt-light: '\f40f',
	window-alt-regular: '\f412',
	window-alt: '\f413',
	window-light: '\f40e',
	window-regular: '\f410',
	window-restore-light: '\f2d2',
	window-restore-regular: '\f2d4',
	window-restore: '\f2d6',
	windows: '\f17a',
	wordpress-simple: '\f411',
	wordpress: '\f19a',
	wrench-light: '\f0ad',
	wrench-regular: '\f0bd',
	wrench: '\f18a',
	yen-sign-light: '\f157',
	yen-sign-regular: '\f15d',
	yen-sign: '\f1f7',
	youtube-square: '\f431',
	youtube: '\f167'
);
