/*! Yaku Han JP v3.2.0 (OFL-1.1 AND MIT) by Qrac */ /*! Type: YakuHanJP - Based on Noto Sans CJK JP */
// prettier-ignore
@font-face {
	font-weight: 100;
	font-family: YakuHanJP;
	font-style: normal;
	src: url(fonts/yakuhanjp/YakuHanJP-Thin.eot);
	src: url(fonts/yakuhanjp/YakuHanJP-Thin.woff2) format('woff2'),
		url(fonts/yakuhanjp/YakuHanJP-Thin.woff) format('woff');
}
// prettier-ignore
@font-face {
	font-weight: 200;
	font-family: YakuHanJP;
	font-style: normal;
	src: url(fonts/yakuhanjp/YakuHanJP-Light.eot);
	src: url(fonts/yakuhanjp/YakuHanJP-Light.woff2) format('woff2'),
		url(fonts/yakuhanjp/YakuHanJP-Light.woff) format('woff');
}
// prettier-ignore
@font-face {
	font-weight: 300;
	font-family: YakuHanJP;
	font-style: normal;
	src: url(fonts/yakuhanjp/YakuHanJP-DemiLight.eot);
	src: url(fonts/yakuhanjp/YakuHanJP-DemiLight.woff2) format('woff2'),
		url(fonts/yakuhanjp/YakuHanJP-DemiLight.woff) format('woff');
}
// prettier-ignore
@font-face {
	font-weight: 400;
	font-family: YakuHanJP;
	font-style: normal;
	src: url(fonts/yakuhanjp/YakuHanJP-Regular.eot);
	src: url(fonts/yakuhanjp/YakuHanJP-Regular.woff2) format('woff2'),
		url(fonts/yakuhanjp/YakuHanJP-Regular.woff) format('woff');
}
// prettier-ignore
@font-face {
	font-weight: 500;
	font-family: YakuHanJP;
	font-style: normal;
	src: url(fonts/yakuhanjp/YakuHanJP-Medium.eot);
	src: url(fonts/yakuhanjp/YakuHanJP-Medium.woff2) format('woff2'),
		url(fonts/yakuhanjp/YakuHanJP-Medium.woff) format('woff');
}
// prettier-ignore
@font-face {
	font-weight: 700;
	font-family: YakuHanJP;
	font-style: normal;
	src: url(fonts/yakuhanjp/YakuHanJP-Bold.eot);
	src: url(fonts/yakuhanjp/YakuHanJP-Bold.woff2) format('woff2'),
		url(fonts/yakuhanjp/YakuHanJP-Bold.woff) format('woff');
}
// prettier-ignore
@font-face {
	font-weight: 900;
	font-family: YakuHanJP;
	font-style: normal;
	src: url(fonts/yakuhanjp/YakuHanJP-Black.eot);
	src: url(fonts/yakuhanjp/YakuHanJP-Black.woff2) format('woff2'),
		url(fonts/yakuhanjp/YakuHanJP-Black.woff) format('woff');
}
