@charset "utf-8";

/**======================================
	base

		// init-- 初期設定
		// edit-- 編集箇所
======================================**/

/*--------------------------------------
	body, container
---------------------------------------*/

body {
	position: relative;
	background: color(bg, base);
	opacity: 0;
	font-family: font(base);
	color: color(text, base);
	letter-spacing: 0.05em;
	@include mq(_tb) {
		text-size-adjust: 100%; // iOS スマホ横向き対策
	}
	@include mq(tb_) {
		color: color(text, base);
	}
}

.container {
	position: relative;
	display: flex;
	flex-direction: column; // footerFixedに対応
	min-height: 100vh;
	transition: padding-top 0.5s;
	@include mq(ie) {
		display: block;
	}
	.contents_wrap {
		flex-grow: 1;
	}
}
/*--------------------------------------
	header
---------------------------------------*/

.header_wrap {
	position: absolute;
	top: 0;
	z-index: 4;
	border-bottom: 1px solid color(border, base);
	width: 100%;
	background-color: color(bg, base);
	transition: all 0.5s;
	// --edit
	@at-root .header_wrap_clone#{&},
		.header_wrap_change#{&} {
		box-shadow: 10px 0 5px 0 rgba(black, 0.2);
	}
	* {
		transition: all 0.5s;
	}
	// init--
	.header_topnav_wrap {
		// sp ではgnav内に移動
		@include mq(tb_) {
			position: relative;
			height: 40px;
			height: 40px;
		}
		@include mq(pc_) {
			@at-root .header_wrap_clone#{&},
				.header_wrap_change#{&} {
				height: 0;
				overflow: hidden;
			}
		}
		.header_topnav {
			@include mq(tb_) {
				@include cont_in_wrap;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
			}
			// edit--
			ul.topnav_list {
				display: flex;
				> li {
					> a,
					> a:visited,
					> a.current {
						display: block;
						text-decoration: none;
						> span {
							display: block;
							padding: 0 10px 0 10px;
							font-size: 1.3rem;
							line-height: 30px;
							color: color(text, base);
						}
					}
					> a:hover {
						> span {
							&::before {
							}
						}
					}
					> a.sns_link {
						margin-top: 15px;
					}
					> a.facebook {
						@include icomoon('block', icom(facebook-square), 20px, 'left', 0);
						color: color(text, base);
					}
					> a.instagram {
						@include icomoon('block', icom(instagram), 20px, 'left', 0);
						color: color(text, base);
					}
					> a.buttoned_link {
						border-bottom-right-radius: radius(base);
						border-bottom-left-radius: radius(base);
						background-color: color(theme, primary);
						> span {
							color: color(text, white);
						}
					}
				}
			}
			// --edit
		}
	}
	// --init
	.header {
		@include cont_in_wrap;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		// --edit
		height: 80px;
		font-family: font(mincho);
		@at-root .header_wrap_clone#{&},
			.header_wrap_change#{&} {
			height: 60px;
		}
		@include mq(tb_) {
			height: 120px;
			@at-root .header_wrap_clone#{&},
				.header_wrap_change#{&} {
				height: 80px;
			}
		}
		@include mq(pc_) {
			height: 140px;
			@at-root .header_wrap_clone#{&},
				.header_wrap_change#{&} {
				height: 80px;
			}
		}
		// --edit
		a.logo_set {
			display: inline-block;
			text-decoration: none;
			.logo {
				span {
					img {
						// edit--
						width: auto;
						height: 40px;
						// --edit
						@include mq(tb_) {
							// edit--
							height: 50px;
							// --edit
						}
					}
				}
			}
		}
		.gnav_btn {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 25;
			display: block;
			margin: auto;
			width: 26px;
			height: 22px;
			transition: all 0.4s;
			@include mq(tb) {
				width: 34px;
				height: 30px;
			}
			@include mq(pc_) {
				display: none;
			}
			span {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				display: inline-block;
				margin: auto;
				width: 100%;
				height: 2px;
				background-color: color(theme, primary); // gnav_btn_color
				font-size: 0;
				transition: all 0.4s;
			}
			span:nth-of-type(1) {
				bottom: auto;
			}
			span:nth-of-type(3) {
				top: auto;
			}
		}
		.gnav_btn.close {
			transform: rotate(360deg);
			span:nth-of-type(1) {
				bottom: 0;
				transform: rotate(-45deg);
			}
			span:nth-of-type(2) {
				transform: rotate(45deg);
			}
			span:nth-of-type(3) {
				opacity: 0;
			}
		}
		// init-- : hnav(sp)
		.hnav {
		}
		// --init
	}
}

/* header_wrap_change
	// base.js $oo.frame 対応
	@at-root .header_wrap_clone#{&},
	.header_wrap_change#{&} {
	}
*/

/*--------------------------------------
	breadcrumb
---------------------------------------*/

.breadcrumb_wrap {
	// init-- : breadcrumb(all)
	// background: rgba(black, 0.1);
	// --edit
	.breadcrumb {
		@include cont_in_wrap;
		overflow-x: scroll;
		@include mq(pc_) {
			overflow: hidden;
		}
		ul {
			display: flex;
			li {
				a,
				a:visited,
				span {
					display: inline-block;
					font-size: 1.2rem;
					line-height: 40px;
					// edit--
					color: color(text, base);
					// --edit
					white-space: nowrap;
					@include mq(pc_) {
						transition: all 0.3s;
					}
				}
				a:hover {
					@include mq(pc_) {
						opacity: 0.7;
					}
				}
			}
			li:not(:first-child) {
				// edit--
				margin-left: 15px;
				padding-left: 15px;
				@include icomoon('block', icom(angle-right-regular), 12px, 'left', 0);
				// --edit
			}
		}
	}
	// --init
}

/*--------------------------------------
	gnav
---------------------------------------*/

// init--
$gnav_wrapper: '.header';
// --init

/* gnav sp,tb */

@include mq(_tb) {
	#{$gnav_wrapper} {
		.gnav.open {
			bottom: 0;
			overflow: scroll;
		}
		.gnav {
			position: fixed;
			// edit--
			top: 80px; // トップ位置はjsで制御 初期値のみ
			// --edit
			right: 0;
			bottom: 100%;
			left: 0;
			z-index: 20;
			width: 100%;
			height: auto;
			overflow: hidden;
			// edit--
			background: rgba(#222, 0.9);
			// --edit
			transition: 0.3s;
			.gnav_list {
				> li {
					margin: 0 45px;
					border-bottom: 1px solid rgba(white, 0.3);
					> a,
					> a:visited {
						position: relative;
						display: block;
						padding: 0;
						text-decoration: none;
						> span {
							display: block;
							padding: 15px 40px;
							text-align: center;
							font-weight: bold;
							color: white;
						}
					}
					a:focus {
						outline: none !important;
					}
					&:active {
						box-shadow: 0 1px 2px rgba(white, 0.1);
					}
				}
				> li.submenu_wrap {
					> a {
						&::before {
							color: white;
						}
					}
					> a.plus {
						span {
							@include icomoon('block', icom(plus), 14px, 'right', 10px);
							padding: 15px 40px;
						}
					}
					> a.minus {
						span {
							@include icomoon('block', icom(minus), 14px, 'right', 10px);
							padding: 15px 40px;
						}
					}
					> .submenu {
						transition: height 0s;
						> ul {
							> li {
								margin: 0 20px;
								border-top: 1px dashed rgba(white, 0.3);
								border-bottom: none;
								> a,
								> a:visited {
									position: relative;
									display: block;
									padding: 0;
									overflow: hidden;
									text-decoration: none;
									> span {
										display: block;
										padding: 15px 0;
										text-align: center;
										color: white;
									}
								}
							}
						}
					}
				}
			}
			.topnav_list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 30px 40px;
				li {
					margin-bottom: 10px;
					border: 1px solid rgba(white, 0.3);
					width: calc(50% - 10px);
					a,
					a:visited {
						position: relative;
						display: block;
						padding: 0;
						overflow: hidden;
						text-decoration: none;
						&::before {
							color: white;
						}
						span {
							display: block;
							padding: 15px 0;
							text-align: center;
							text-overflow: ellipsis;
							font-weight: bold;
							color: white;
							white-space: nowrap;
						}
					}
					a.current {
					}
				}
			}
		}
	}
}

/* gnav_wrapper pc */
// マークアップ parts_headerに対応

@include mq(pc_) {
	@if ($gnav_wrapper == '.header') {
		.header {
			.gnav {
				// edit--
				width: 60%;
				min-width: 500px;
				max-width: 720px;
				// --edit
			}
		}
	} @else if($gnav_wrapper == '.gnav_wrap') {
		.gnav_wrap {
			position: relative;
			z-index: 10;
			.gnav {
				@include cont_in_wrap;
				width: 100%;
			}
		}
	}
}

/* gnav pc */

@include mq(pc_) {
	#{$gnav_wrapper} {
		.gnav {
			.gnav_list {
				display: flex;
				width: 100%;
				> li {
					flex-grow: 1;
					width: auto;
					> a,
					> a:visited {
						display: block;
						height: 100%;
						text-decoration: none !important;
						> span {
							display: block;
							// edit--
							padding: 15px 0;
							text-align: center;
							color: black;
							// --edit
							white-space: nowrap;
						}
					}
					> a:not(.current) {
						transition: all 0.5s;
						> span,
						&::before,
						&::after {
							transition: all 0.5s;
						}
					}
					> a.current {
						> span {
							border-bottom: 2px solid color(theme, primary);
						}
					}
					> a:not(.current):hover {
						> span {
							background-color: #eee;
						}
					}
				}
				> li.submenu_wrap {
					position: relative;
					z-index: 1;
					> a {
						> span {
							@include icomoon('inline', icom(angle-down-regular), 16px, 'right', 0, black, '&::after');
							&::after {
								// edit--
								padding-left: 8px;
								// --edit
							}
						}
					}
					> .submenu {
						position: absolute;
						top: 100%; // gnav > a と離さない
						left: 0;
						z-index: 2;
						display: none;
						padding: 0;
						min-width: 100%;
						transition: height 0s;
						> ul {
							display: flex;
							flex-direction: column;
							flex-wrap: wrap;
							// edit--
							max-height: calc(100vh - 206px); // header を除いて設定
							// --edit
							> li {
								display: block;
								padding: 0;
								> a,
								> a:visited {
									display: block;
									text-decoration: none !important;
									> span {
										display: block;
										padding: 15px;
										// edit--
										border: 1px solid color(border, base);
										background: white;
										text-align: center;
										font-size: 1.3rem;
										color: black;
										// --edit
										white-space: nowrap;
									}
								}
								> a,
								> a:not(.current) {
									transition: all 0.5s;
									span,
									&::before,
									&::after {
										transition: all 0.5s;
									}
								}
								> a.current {
									> span {
										color: lighten(black, 70%);
									}
								}
								> a:not(.current):hover {
									&::before,
									&::after,
									> span {
										background-color: color(theme, secondary);
									}
								}
							}
							li:not(:first-child) {
								> a {
									> span {
										border-top: none;
									}
								}
							}
						}
					}
				}
				> li.submenu_wrap:last-child {
					> .submenu {
						right: 0;
						left: auto;
					}
				}
			}
		}
	}
}

/*--------------------------------------
	contents
---------------------------------------*/

.contents_wrap {
	position: relative;
	z-index: 2;
	.contents {
	}
}

/*--------------------------------------
	footer
---------------------------------------*/

.footer_wrap {
	position: relative;
	z-index: 3;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	background-color: color(theme, primary);

	@include mq(tb_) {
		margin-top: 80px;
		padding-top: 400px;
		padding-bottom: 60px;
		background-color: color(theme, primary);
		background-image: url(../images/common/footer_pic01.jpg);
		background-repeat: no-repeat;
		background-position: center -120px;
		background-size: cover;
	}
	.footer {
		@include cont_in_wrap;
		@include mq(pc_) {
			display: flex;
			justify-content: space-between;
		}
		// init-- : footer_profile(all)
		.footer_profile {
			margin: 0 5% 20px;
			@include mq(tb_) {
				margin: 0 0 40px;
			}
			@include mq(pc_) {
				margin-bottom: 0;
			}
			.footer_name,
			.footer_address,
			.footer_link {
				text-align: center;
				text-shadow: none;
				font-size: 1.3rem;
				color: white;
				@include mq(tb_) {
					margin-bottom: 15px;
					line-height: 1.3;
				}
				@include mq(pc_) {
					text-align: left;
				}
			}
			.footer_name {
				margin-bottom: 5px;
				font-size: 2rem;
				font-weight: bold;
				font-family: font(mincho);
				img {
					position: relative;
					top: -5px;
					left: -5px;
				}
			}
			.footer_address,
			.footer_link {
				margin-bottom: 10px;
			}
			.footer_link {
				a {
					text-decoration: none;
					span {
						color: color(text, white);
					}
				}
			}
			.footer_tel_set {
				display: flex;
				flex-direction: column;
				@include mq(_tb) {
					align-items: center;
				}
				@include mq(pc_) {
					text-align: left;
				}
				.footer_tel,
				.footer_fax {
					margin-bottom: 10px;
					&::before {
						border: 1px solid rgba(white, 0.3);
					}
					a,
					a:visited {
						font-size: 1.3rem;
						font-weight: bold;
						color: white;
					}
				}
			}
		}
		// --init
		// init-- : footer_sitenav(all)
		.footer_sitenav {
			margin: 0 5%;
			@include mq(tb_) {
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				padding: 0;
			}
			@include mq(pc_) {
				width: 50%;
			}
			.footer_sitenav_cont:last-child {
				@include mq(tb_) {
					margin-right: 0;
				}
			}
			.footer_sitenav_cont {
				@include mq(tb_) {
					margin-right: 5%;
					width: 100%;
					// width: 30%;
				}
				@include mq(pc_) {
					margin-right: 30px;
				}
				// edit--
				.footer_sitenav_heading {
					padding: 25px 15px 10px;
					border-bottom: 1px dashed rgba(white, 0.3);
					overflow: hidden;
					text-align: left;
					text-overflow: ellipsis;
					font-size: 1.3rem;
					font-weight: bold;
					line-height: 1.3;
					color: darken(white, 10%);
					white-space: nowrap;
					@include mq(tb_) {
						margin-bottom: 10px;
						padding: 0;
						border-bottom: none;
						font-size: 1.2rem;
						font-weight: bold;
						line-height: 1.3;
					}
				}
				ul {
					@include mq(tb_) {
						display: flex;
						flex-wrap: wrap;
					}
					li:not(:first-child) {
						a {
							@include mq(tb_) {
								border-top: none;
							}
						}
					}
					li {
						@include mq(tb_) {
							width: calc(100% / 3);
						}
						a,
						a:visited {
							@include icomoon('block', icom(angle-right-regular), 16px, 'right', 0);
							display: block;
							padding: 20px 15px 15px;
							border-bottom: 1px dashed rgba(white, 0.3);
							text-decoration: none;
							font-size: 1.2rem;
							line-height: 1.3;
							color: rgba(white, 0.8);
							@include mq(tb_) {
								position: relative;
								padding: 20px 10px 20px 35px;
								// border-top: 1px dashed rgba(white, 0.3);
								border-bottom: 1px dashed rgba(white, 0.3);
							}
							&::before {
								@include mq(tb_) {
									right: auto;
									left: 10px;
								}
							}
						}
						a:hover {
							@include mq(pc_) {
								color: white;
							}
						}
					}
				}
			}
			.footer_sitenav_cont:first-child {
				li:first-child {
					a {
						// border-top: 1px dashed rgba(white, 0.3);
					}
				}
			}
		}
		// --init
	}
	.copyright_wrap {
		margin-top: 20px;
		@include mq(tb_) {
			margin-top: 50px;
		}
		@include mq(pc_) {
			margin-top: 40px;
		}
		.copyright {
			@include cont_in_wrap;
			text-align: center;
			small {
				font-size: 1.1rem;
				color: darken(white, 10%);
			}
		}
	}
	&::after {
		@include mq(tb_) {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(black, 0.2);
		}
	}
}

/*--------------------------------------
	loading_wrap
---------------------------------------*/

.loading_wrap {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: white;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -20px;
	}
}
